.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 5px 3px 7px #d932d9;
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  background: #8d68cc;
  padding: 10px 20px 11px 20px;
  border: solid #1f628d 3px;
  text-decoration: none;
}

.btn:hover {
  background: #d10000;
  background-image: -webkit-linear-gradient(top, #d10000, #63228f);
  background-image: -moz-linear-gradient(top, #d10000, #63228f);
  background-image: -ms-linear-gradient(top, #d10000, #63228f);
  background-image: -o-linear-gradient(top, #d10000, #63228f);
  background-image: linear-gradient(to bottom, #d10000, #63228f);
  text-decoration: none;
}

.nav ul {
  background-color: darkorchid;
}

.nav li{
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: royalblue;
  margin: 1.75rem;
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  align-self: center;
  display: inline-block;
}